*{
    padding: 20px;
}
body{
    background: #c0c9e4;
}
.card{
    background-color: #575182;
    color: #f1f1f1;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: rgb(91, 99, 139);
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }